/*Animation Focus input start*/
.formlogin__input:focus{
    outline: none;
}
/*Animation Focus input Logout end*/
/*Animation button Logout start*/
.formlogin__button:hover,.header__icon:hover, .header__button:hover{
    transform: scale(0.9);
    transition: transform 1s;
    cursor: pointer;
}
/*Animation button end*/